html
{
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    background-color: #cfc6bc;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

body
{
    margin: 0;
}

nav
{
    background-color: #516687f5;
    font-family: 'Luckiest Guy', cursive;
    padding-bottom: 15px;

    position: fixed;
    top: 0;
    z-index: 999;
}

#text-logo
{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;

    margin-top: -10px;
}

nav ul
{
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li
{
    display: table-cell;
    text-align: center;
}

a
{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.7rem;

    display: inline-block;
}

li:hover a
{
    
    filter: drop-shadow(0 0 0.65rem rgb(0, 0, 0));
    transform: rotateY(360deg);

    transition: .8s;
}

#hero-image
{
    width: 36%;
    margin: -2% 0 0 7%;
    padding-right: 7%;
    float: left;

    filter: drop-shadow(0 0 0.65rem rgb(0, 0, 0));
}

#introduction
{
    margin-top: 14%;
    font-size: 2.5rem;
    padding-right: 3%;
    font-family: 'Gloria Hallelujah', cursive;
}

#media-container
{
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.media
{
    padding-top: 40px;

}

.media h2
{   
    margin-bottom: 5px;
    font-size: 2rem;
}

.media p
{
    margin: 0;
    font-size: 1.2rem;
}

#sources, #people
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
    text-align: center;
}

#sources li
{
    list-style: none;
}

#sources ul
{
    padding: 0;
}

.people-container 
{
    border: 2px solid #7da2bb;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}